HateSpeechClassifier/HateIdentification.ipynb
HateSpeechClassifier/Models/MultiClassifier/OLD
HateSpeechClassifier/Models/MultiClassifier/*.txt
HateSpeechClassifier/Models/Embeddings/OLD
HateSpeechClassifier/Models/Embeddings/bert*
HateSpeechClassifier/Models/Embeddings/d2v_100epochs_300dims_nostop
HateSpeechClassifier/Data/glove*
HateSpeechClassifier/Data/GoogleNews-vectors-negative300.bin
HateSpeechClassifier/Data/GoogleNews-vectors-negative300.bin.gz
HateSpeechClassifier/Figures
HateSpeechClassifier/BinaryClassifier
HateSpeechClassifier/Reports
Unofficial_Classification.ipynb
.ipynb_checkpoints
Tumblrbot/pytumblr-master
CounterSpeechGenerator/gpt3key.txt
CounterSpeechGenerator/Data
CounterSpeechGenerator/Results
CounterSpeechGenerator/Models
tcn_venv